venv/
# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
venv/

__pycache__/
*.pyc
restart.sh
static/github.md
update.sh

staticfiles/
/ID_Cards_Export
ID_Cards_Export.zip
exports/~$user_registrations_20251015_192701.xlsx
exports/user_registrations_20251015_192701.xlsx
